body{
    margin: 0;
    padding: 0;
    background-color: #3e141e;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 0;
    gap: 20px;
}

.nav-links {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.nav-links:hover{
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 80px;
}
.logo-text{
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;}
    .logo-text:hover{
    text-decoration: underline #ec9428;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 80px 80px 0;
}

.text{
    margin: 0;
}

.heading1{
     font-family: "Cookie", cursive;
     color: #ec9428;
     font-style: italic;
     font-size: 50px;
     font-weight: 300;
     transition: 0.5s;
}

.heading2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    line-height: 50px;
}
.para{
    color: white;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.order{
    background-color: #ec9428;
    color: #3d141d;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 30px;
    font-weight: bold;
    margin-right: 30px;
    cursor: pointer;

}
.order:hover{
    background-color: white;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
    border: 2px solid #ec9428;
    text-decoration: underline #ec9428;
}
.contactbtn{
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 30px;
    font-weight: bold;
     background-color: transparent;
    color:white;
    border: 2px solid white;
    cursor: pointer;
    transition: 1s;
}
.contactbtn:hover{
     box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}


.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image:hover{

    transition: 2s;   
width: min(100%, 480px);
    height: auto;
    display: block;
    margin: 0;
    
}
.cup{
    width: min(100%, 480px);
    height: auto;
    display: block;
    margin: 0;
    transition: 0.8s;}
    .cup:hover{
    filter: drop-shadow(0 8px 18px #ec9428);
}


.nav-links a:hover,
.logo-text:hover{
    color: #ec9428;
}

.order:hover{
    background-color: #ffb347;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
}

.contactbtn:hover{
    background-color:  #ec9428;
    color: white;
    border: none;
}

/* About section */

.about{
    background-color: rgb(253, 251, 251);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
    padding: 80px 40px;
}
.aboutPic{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    transition: 0.5s;
} 
.aboutPic:hover{
    width: 300px;
    height: 300px;
    border-radius: 0%;
    transition: 0.5s;
    border: 2px double black;
    box-shadow: 5px 5px black;
}
.aboutText{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 520px;
    text-align: center;
}
.aboutPara{
    text-transform: none;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
}
.heading{
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0 0 10px 0;
}
.line {
    width: 70px;
    height: 3px;
    background: #c9a227;
    margin: 0 auto 20px;
}
.socialIcons img{
    width: 30px;
    cursor: pointer;
}
.socialIcons{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}


/* MENU */

.menu {
    background: #222;
    color: white;
    text-align: center;
    padding: 50px 8%;
}

.menu h2,
.testimonial h2 {
    font-size: 25px;
}


.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card {
    text-align: center;
    padding: 10px;
}

.card img {
    width: 150px;
    height: 120px;
    cursor: pointer;
    box-shadow: 5px 5px #ec9428;
}
.card img:hover {
    border-radius: 100%;
    transition: 1.5s;
    border: 2px double rgb(7, 7, 7);
    box-shadow: 5px 5px rgb(236, 18, 18);
}
.card h3 {
    margin: 12px 0;
    font-size: 17px;
}

.card p {
    color: #ccc;
    font-size: 13px;
}


/* TESTIMONIAL */

.testimonial {
    background: #c9c6c6;
    text-align: center;
    padding: 55px;
}
.testimonial h2{
    font-size: 25px;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.person img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 5px #ec9428;

}
.person img:hover {
    border-radius: 0%;
    transition: 1.5s;
    border: 2px double black;
    box-shadow: 5px 5px black;
}

.person h3 {
    font-size: 20px;
    margin: 12px ;
}

.person p {
    color: #777;
    font-size: 13px;
}


/* Gallery */

.gallery {
    padding: 45px;
    text-align: center;
    background: #080808;
    margin-bottom: 0;
}
.gallery h2 {
    font-size: 25px;
    color: #ffffff;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
   width: 980px;
    margin:  auto;
}

.gallery-box img {
    width: 300px;
    height: 200px;
    cursor: pointer;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 5px 5px #ec9428;
}
.gallery-box img:hover {
    border-radius: 50%;
    transition: 3s;
    border: 2px double rgb(251, 250, 250);
    box-shadow: 5px 5px rgb(225, 33, 33)8);
}

.end-box{
    height: 450px;
    background: #484444;
    margin-top: -40px;
    color: #fafafa;
}
.end-box h1{
    text-align: center;
    font-size: 25px;
    color: rgb(252, 251, 251);
}
.contact{
    margin-left: 200px;
}
.form{
    text-align: right;
    margin-right: 150px;
    margin-top: -300px;
}
input{
    padding: 10px;
    border-style: solid;
    border-color: #080808;
    border-radius: 5px;
}
textarea{
     padding: 15px;
    border-style: solid;
    border-color: #080808;
    border-radius: 5px;
    border-width: 2px;
    margin-left: 10px;
}
button{
    border-style: solid;
    border-width: 2px;
    border-color: #080808;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: #ec9428;
    color: #060606;
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
}
button:hover{
    background-color: transparent;
    border-style: solid;
    border-color: #ec9428;
    color: #fdfafa;
}
footer{
    height: 50px;
    background-color: #fafafa;
    font-weight: bold;
    margin-top: 18px;
    color: #060606;
    display: flex;
    gap: 550px;
}
.cafe{
    margin-left: 20px;
}
